Pandas In Python

In [1]:
import pandas as pd
import numpy as np

In [4]:
series1 = pd.Series([1,3,5,np.nan,4,3,6,8])
series1

0    1.0
1    3.0
2    5.0
3    NaN
4    4.0
5    3.0
6    6.0
7    8.0
dtype: float64

In [5]:
dates = pd.date_range("20220107",periods=8)
dates

DatetimeIndex(['2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
               '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(8,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-07 -0.355342  0.862536  1.238498 -0.165467
2022-01-08 -0.896278  1.049446 -1.995409  0.278860
2022-01-09 -0.160427  0.077646 -0.089917  1.173015
2022-01-10  0.141733  0.359542 -0.008611  1.481085
2022-01-11 -0.319908 -0.528766 -1.145110 -0.750759
2022-01-12  1.829518 -1.811536 -0.888602 -0.800577
2022-01-13  1.180328 -1.880663 -1.746693  0.974841
2022-01-14 -0.774695  0.373580  1.334684  1.040080

In [19]:
df2 = pd.DataFrame(
    {
        'A':1.0,
        'B':pd.Timestamp("20220101"),
        'C':pd.Series(1,index=list(range(4)),dtype='float32')

    }
)
df2

     A          B    C
0  1.0 2022-01-01  1.0
1  1.0 2022-01-01  1.0
2  1.0 2022-01-01  1.0
3  1.0 2022-01-01  1.0

In [20]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
dtype: object

In [21]:
df.head()

                   A         B         C         D
2022-01-07 -0.355342  0.862536  1.238498 -0.165467
2022-01-08 -0.896278  1.049446 -1.995409  0.278860
2022-01-09 -0.160427  0.077646 -0.089917  1.173015
2022-01-10  0.141733  0.359542 -0.008611  1.481085
2022-01-11 -0.319908 -0.528766 -1.145110 -0.750759

In [22]:
df.tail()

                   A         B         C         D
2022-01-10  0.141733  0.359542 -0.008611  1.481085
2022-01-11 -0.319908 -0.528766 -1.145110 -0.750759
2022-01-12  1.829518 -1.811536 -0.888602 -0.800577
2022-01-13  1.180328 -1.880663 -1.746693  0.974841
2022-01-14 -0.774695  0.373580  1.334684  1.040080

In [23]:
df.index

DatetimeIndex(['2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
               '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14'],
              dtype='datetime64[ns]', freq='D')

In [57]:
df2.index
df2.size

32

In [25]:
df.to_numpy()

array([[-0.35534201,  0.8625363 ,  1.23849755, -0.16546659],
       [-0.89627791,  1.04944574, -1.99540875,  0.27886   ],
       [-0.16042713,  0.07764576, -0.08991738,  1.17301527],
       [ 0.14173348,  0.35954242, -0.00861139,  1.48108521],
       [-0.31990846, -0.52876602, -1.14510975, -0.75075881],
       [ 1.82951796, -1.81153566, -0.88860217, -0.80057742],
       [ 1.1803285 , -1.88066286, -1.7466934 ,  0.97484148],
       [-0.77469514,  0.37357997,  1.3346842 ,  1.04007991]])

In [27]:
df2.to_numpy()

array([[1.0, Timestamp('2022-01-01 00:00:00'), 1.0],
       [1.0, Timestamp('2022-01-01 00:00:00'), 1.0],
       [1.0, Timestamp('2022-01-01 00:00:00'), 1.0],
       [1.0, Timestamp('2022-01-01 00:00:00'), 1.0]], dtype=object)

In [28]:
df.describe()

              A         B         C         D
count  8.000000  8.000000  8.000000  8.000000
mean   0.080616 -0.187277 -0.412645  0.403885
std    0.953656  1.129964  1.258950  0.894937
min   -0.896278 -1.880663 -1.995409 -0.800577
25%   -0.460180 -0.849458 -1.295506 -0.311790
50%   -0.240168  0.218594 -0.489260  0.626851
75%    0.401382  0.495819  0.303166  1.073314
max    1.829518  1.049446  1.334684  1.481085

In [29]:
df.transpose

<bound method DataFrame.transpose of                    A         B         C         D
2022-01-07 -0.355342  0.862536  1.238498 -0.165467
2022-01-08 -0.896278  1.049446 -1.995409  0.278860
2022-01-09 -0.160427  0.077646 -0.089917  1.173015
2022-01-10  0.141733  0.359542 -0.008611  1.481085
2022-01-11 -0.319908 -0.528766 -1.145110 -0.750759
2022-01-12  1.829518 -1.811536 -0.888602 -0.800577
2022-01-13  1.180328 -1.880663 -1.746693  0.974841
2022-01-14 -0.774695  0.373580  1.334684  1.040080>

In [30]:
df.T

,2022-01-07,2022-01-08,2022-01-09,2022-01-10,2022-01-11,2022-01-12,2022-01-13,2022-01-14
A,-0.355342,-0.896278,-0.160427,0.141733,-0.319908,1.829518,1.180328,-0.774695
B,0.862536,1.049446,0.077646,0.359542,-0.528766,-1.811536,-1.880663,0.373580
C,1.238498,-1.995409,-0.089917,-0.008611,-1.145110,-0.888602,-1.746693,1.334684
D,-0.165467,0.278860,1.173015,1.481085,-0.750759,-0.800577,0.974841,1.040080

In [31]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2022-01-07 -0.355342  0.862536  1.238498 -0.165467
2022-01-08 -0.896278  1.049446 -1.995409  0.278860
2022-01-09 -0.160427  0.077646 -0.089917  1.173015
2022-01-10  0.141733  0.359542 -0.008611  1.481085
2022-01-11 -0.319908 -0.528766 -1.145110 -0.750759
2022-01-12  1.829518 -1.811536 -0.888602 -0.800577
2022-01-13  1.180328 -1.880663 -1.746693  0.974841
2022-01-14 -0.774695  0.373580  1.334684  1.040080

In [33]:
df['A']

2022-01-07   -0.355342
2022-01-08   -0.896278
2022-01-09   -0.160427
2022-01-10    0.141733
2022-01-11   -0.319908
2022-01-12    1.829518
2022-01-13    1.180328
2022-01-14   -0.774695
Freq: D, Name: A, dtype: float64

In [34]:
df[0:3]

                   A         B         C         D
2022-01-07 -0.355342  0.862536  1.238498 -0.165467
2022-01-08 -0.896278  1.049446 -1.995409  0.278860
2022-01-09 -0.160427  0.077646 -0.089917  1.173015

In [37]:
df.loc[dates[0:1]]

                   A         B         C         D
2022-01-07 -0.355342  0.862536  1.238498 -0.165467

In [44]:
df2.loc[0:10,["A","B"]]

     A          B
0  1.0 2022-01-01
1  1.0 2022-01-01
2  1.0 2022-01-01
3  1.0 2022-01-01

In [46]:
df.loc[:,['A','B']]

                   A         B
2022-01-07 -0.355342  0.862536
2022-01-08 -0.896278  1.049446
2022-01-09 -0.160427  0.077646
2022-01-10  0.141733  0.359542
2022-01-11 -0.319908 -0.528766
2022-01-12  1.829518 -1.811536
2022-01-13  1.180328 -1.880663
2022-01-14 -0.774695  0.373580

In [48]:
df.at[dates[6],"A"]

1.1803284990543181

In [49]:
df.iloc[3]

A    0.141733
B    0.359542
C   -0.008611
D    1.481085
Name: 2022-01-10 00:00:00, dtype: float64

In [52]:
df.iloc[:,:-1]

                   A         B         C
2022-01-07 -0.355342  0.862536  1.238498
2022-01-08 -0.896278  1.049446 -1.995409
2022-01-09 -0.160427  0.077646 -0.089917
2022-01-10  0.141733  0.359542 -0.008611
2022-01-11 -0.319908 -0.528766 -1.145110
2022-01-12  1.829518 -1.811536 -0.888602
2022-01-13  1.180328 -1.880663 -1.746693
2022-01-14 -0.774695  0.373580  1.334684

In [53]:
df.iloc[:,-1:]

                   D
2022-01-07 -0.165467
2022-01-08  0.278860
2022-01-09  1.173015
2022-01-10  1.481085
2022-01-11 -0.750759
2022-01-12 -0.800577
2022-01-13  0.974841
2022-01-14  1.040080

In [54]:
df[df['A']>0]

                   A         B         C         D
2022-01-10  0.141733  0.359542 -0.008611  1.481085
2022-01-12  1.829518 -1.811536 -0.888602 -0.800577
2022-01-13  1.180328 -1.880663 -1.746693  0.974841

In [55]:
df2 =df.copy()

In [60]:
df2["Chilla"] = ["one","two","three",
                    "one","two","three",
                    "one","two"]

In [61]:
df2

                   A         B         C         D Chilla
2022-01-07 -0.355342  0.862536  1.238498 -0.165467    one
2022-01-08 -0.896278  1.049446 -1.995409  0.278860    two
2022-01-09 -0.160427  0.077646 -0.089917  1.173015  three
2022-01-10  0.141733  0.359542 -0.008611  1.481085    one
2022-01-11 -0.319908 -0.528766 -1.145110 -0.750759    two
2022-01-12  1.829518 -1.811536 -0.888602 -0.800577  three
2022-01-13  1.180328 -1.880663 -1.746693  0.974841    one
2022-01-14 -0.774695  0.373580  1.334684  1.040080    two

In [63]:
df2["mean"] = [2.2,2.3,43.4,3.5,
                2.2,2.3,43.4,3.5
]
df2

                   A         B         C         D Chilla  mean
2022-01-07 -0.355342  0.862536  1.238498 -0.165467    one   2.2
2022-01-08 -0.896278  1.049446 -1.995409  0.278860    two   2.3
2022-01-09 -0.160427  0.077646 -0.089917  1.173015  three  43.4
2022-01-10  0.141733  0.359542 -0.008611  1.481085    one   3.5
2022-01-11 -0.319908 -0.528766 -1.145110 -0.750759    two   2.2
2022-01-12  1.829518 -1.811536 -0.888602 -0.800577  three   2.3
2022-01-13  1.180328 -1.880663 -1.746693  0.974841    one  43.4
2022-01-14 -0.774695  0.373580  1.334684  1.040080    two   3.5