Decison tree on salaries

In [1]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head()

  company              job     degree  salary_more_then_100k
0     NaN              NaN        NaN                    NaN
1  google  sales executive  bachelors                    0.0
2     NaN              NaN        NaN                    NaN
3  google  sales executive    masters                    0.0
4     NaN              NaN        NaN                    NaN

In [3]:
x = df['salary_more_then_100k']
x

0     NaN
1     0.0
2     NaN
3     0.0
4     NaN
5     1.0
6     NaN
7     1.0
8     NaN
9     0.0
10    NaN
11    1.0
12    NaN
13    0.0
14    NaN
15    0.0
16    NaN
17    0.0
18    NaN
19    1.0
20    NaN
21    1.0
22    NaN
23    1.0
24    NaN
25    1.0
26    NaN
27    1.0
28    NaN
29    1.0
30    NaN
31    1.0
Name: salary_more_then_100k, dtype: float64