Decision Tree

In [1]:
import pandas as pd
df = pd.read_csv("mldata.csv")
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

In [2]:
df['gender'] = df['gender'].replace("Male",1)
df['gender'] = df['gender'].replace("Female",0)
df.tail()

     age  weight  gender likeness height
240   31    60.0       1   Pakora    160
241   26    70.0       1  Biryani    172
242   40    80.0       1  Biryani    178
243   25    65.0       1  Biryani    5.7
244   33    56.0       0   Samosa    157

In [3]:
#selection of input and output variable
x = df[['weight','gender']]
y = df['likeness']

In [4]:
x.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [5]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [7]:
# Machine learning algoritm
from sklearn.tree import DecisionTreeClassifier

#create and fit our model
model = DecisionTreeClassifier().fit(x,y)

# prediction
model.predict([[23,0]])

c:\Users\Hamza Durez\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [27]:
# MOdel accuracy
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

model = DecisionTreeClassifier().fit(x_train,y_train)
predicted_value = model.predict(x_test)
predicted_value

array(['Biryani', 'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Samosa',
       'Samosa', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [28]:
score = accuracy_score(y_test,predicted_value)
score

0.6122448979591837

In [30]:
# how to ttrain and save your model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(x,y)
joblib.dump(model,"foodie.joblib")

['foodie.joblib']

In [ ]:
#Assignment hoe to run a stored model

In [31]:
# graph
from sklearn import tree
model = DecisionTreeClassifier().fit(x,y)

#graphic evaluation
tree.export_graphviz(model,out_file = "foodie.dot",feature_names=["age","gender"],class_names=sorted(y.unique()),label="all",rounded=True,filled=True)